<section class="products">
    <div class="container">
      <div class="product-list">
        <div class="product-card" *ngFor="let product of products">

          <div class="card-content">
            <img [src]="product.image" [alt]="product.name">
            <h3>{{ product.name }}</h3>
            <p>{{ product.description }}</p>
            <p><span style="font-weight: bold; color: navy; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">цена:</span> {{product.price}} ₸</p>
            <p>Рейтинг: ⭐ {{ product.rating }}</p>

            <div class="likes">
              <p>👍: {{product.likes}}</p>
              <button class="like" (click)="onLike(product)" [disabled]="product.hasVoted">👍</button>
              <button class="like" (click)="onDislike(product)" [disabled]="product.hasVoted">👎</button>
            </div>
            <a *ngIf="product.link" [href]="product.link" target="_blank">
              Смотреть на Kaspi.kz
            </a>
          </div>

          <div class="card-buttons">
            <button (click)="shareWhatsApp(product.link)">Поделиться в WhatsApp</button>
            <button (click)="shareTelegram(product.link)">Поделиться в Telegram</button>
            <!-- <button (click)="mamagazhibiry(product.link)">мамага жиберу</button> -->
          </div>

        </div>
      </div>
    </div>
  </section>
