.header{
    background-color: black;
    color:white;
}
.text-todo{
    text-align: left;

}
.todo-container {
    width: 100vw;
}
.ToDO-list {
    text-align: center;
}
.form{
    width: 500px;
    display: flex;
    border-radius: 50%;
    margin: 0 auto;
}

.New-Task {
    font-weight: 250px;

    width: 500px;
}
.btn-sub{
    background-color: rgb(75, 119, 255);
    color: white;
    border-radius: 5px;
    margin-left: 10px;
}
