.header{
    background-color: black;
    color:white;
}
.text-todo{
    text-align: left;

}
.todo-container {
    width: 100vw;
}
.ToDO-list {
    text-align: center;
}
.form{
    width: 500px;
    display: flex;
    border-radius: 50%;
    margin: 0 auto;
}

.New-Task {
    font-weight: 250px;

    width: 500px;
}
.btn-sub{
    background-color: rgb(75, 119, 255);
    color: white;
    border-radius: 5px;
    margin-left: 10px;
}
#New-Task {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.task-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
}
.task-checkbox {
    margin-right: 10px;
}
.task-text {
    flex-grow: 1;
}
.completed {
    text-decoration: line-through;
    color: gray;
}

.delete-btn {
    background: red;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}