*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Segoe UI", sans-serif;
    color: #333;
    background-color: #fff;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
}
.header-logo img {
    height: 40px;
}
.header-nav ul{
    list-style: none;
    display: flex;
    gap: 10px;
    margin-right: 740px;
}
.header-nav li{
    margin: 0 10px;
    font-size: 0.95rem;
}
.header-action {
    display: flex;
    margin-right: 100px;
}
.header-link {
    text-decoration: none;
    color: #000;
    margin-left: 15px;
    font-size: 0.9em;
}
.main {
    position: relative;
    padding: 40px 20px;
    background-color:#e0e0e0;
    min-height: 400px;
}
.main-background {
    position: absolute;
    top: -40px;
    left: -20px;
    right: -20px;
    bottom: -40px;
    background-color: #d0d0d0;
    z-index: 1;
}
.main-content {
    max-width: 600px;
    position: relative;
    padding: 40px 20px;

}
.main-content h1{
    font-size: 2rem;
    margin-bottom: 20px;
}
.main-content p{
    font-size: 1rem;
    margin-bottom: 20px;
    z-index: 2;
}
.main-content a{
    display: inline-block;
    text-decoration: none;
    background-color: #0067b8;
    color: #fff;
    padding: 10px 20px;
    border-radius: 4px;
}
.main-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #d0d0d0;
    z-index: 1;
}
.main-overlay {
    width: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    background: url("https://cdn-dynmedia-1.microsoft.com/is/image/microsoftcorp/Highlight-Hero-Windows11-GlobalLaunch:VP2-859x540") repeat 50%;
}
.main-overlay h2 {
    font-size: 1.5rem;
    margin-bottom: 15px;
  }
.main-overlay img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-bottom: 15px;
  }
.main-overlay p {
    font-size: 1rem;
    margin-bottom: 15px;
  }
.main-overlay button {
    background-color: #0067b8;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
  }
.card-section {
    padding: 40px 20px;
    background-color: #f9f9f9;
}
.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
.card {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 15px;
    width: 300px;
    text-align: center;
}
.card img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
.card h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
.card p {
    font-size: 1rem;
    margin-bottom: 10px;
  }
.btn-card {
    display: inline-block;
    background-color: #0067b8;
    color: #fff;
    padding: 10px 15px;
    border-radius: 4px;
    text-decoration: none;
    font-size: 0.9rem;
    margin-bottom: 0;

}